/* GetDataRadiologySupport.css */
.card {
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 500px; /* Tamanho fixo para a seção de inputs */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card form {
    width: 100%;
  }
  
  .card input, .card button {
    width: 90%; /* Garante que todos os inputs e botão tenham a mesma largura */
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .card button {
    background-color: #004d99;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #003366;
  }
  