@font-face {
  font-family: 'HandwritingDraft';
  src: url('/assets/Fonts/handwriting_black_draft/handwriting-black-draft_DEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'HandwritingDraft';
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}


#header {
    background: linear-gradient(135deg, #004d99, #001f4d); /* Gradiente de azul escuro */
    padding: 20px 10px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra mais acentuada */
    border-radius: 8px;
    animation: fadeInDown 0.5s ease-out; /* Animação de entrada */
  }
  
  #header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
  }
  
  #header p {
    margin: 5px 0 0;
    font-size: 16px;
    opacity: 0.85; /* Um pouco menos destacado que o título */
  }
  
  /* Animação de entrada */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  