/* PdfAnalysis.css */
.drop_zone {
    background-color: #f9f9f9;
    border: 2px dashed #004d99;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .drop_zone.over {
    background-color: #e0f7fa;
  }
  
  .drop_zone p {
    margin: 10px 0;
  }
  
  .button {
    display: inline-block;
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #003366;
  }
  